<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--[if lt IE 9]>
            <script src="{$js['html5shiv']}"></script>
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" href="{$css['font-awesome-ie7']}">
        <![endif]-->

        <title>Site under Maintenance</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />

        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="brand" href="/"><img src="/img/mini-logo.png" /></a>
</div>
</div>
</div>

        <div class="container">
            <section>
                <header>Maintenance</header>
                <article>Site is under maintenance</article>
            </section>
        </div>
    </body>
</html>
